/* My styles */
.centerview {
  border: 1px solid black;
  background-color: lightgray;
  padding-top: 70px;
  padding-right: 20px;
  padding-bottom: 70px;
  padding-left: 20px;
}
.content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.contentdiv{
  border: 1px solid white;
  padding: 5px;
  text-align: center;
  vertical-align: center;
}
.introduction{
  grid-column: 2/5;
}
.bio{
  grid-column: 1/5;
  text-align: left;
}
.youtubevideo {
  grid-column: 1/5;
  padding: 20px;
}
.videoembed{
  width: 100%;
  height: calc(100vw * 0.37);
}
.linkedinlink{
  grid-column: 1/3;
}
.githublink{
  grid-column: 3/5;
}
.fulllength{
  grid-column: 1/5;
}
.fulllengthheader{
  grid-column: 1/5;
  background-color: gray;
}
.bottomBar {
  text-align: center;
}
.headshot{
  border-radius: 50%;
  border: 2px solid black;
}
.headshotmain{
  grid-column: 1/2;
}
.socialButton {
  padding: 10px;
  background-color:rgb(33, 37, 41);;
  border-radius: 10px;
  color: white;
  border: 2px solid black;
}
.projectscreenshot {
  grid-column: 1/3;
  grid-row: 2/5;
}
.projectabout {
  grid-column: 3/5;
  grid-row: 2/4;
  text-align: left;
}
a:link {
  color: white; 
  background-color: transparent; 
  text-decoration: none;
}